{% for type in site.data.music.types %}

<h2 id="{{ type.id }}">{{ type.title }}</h2>

<div class="song legend">
    <span class="title">Name</span>
    <span class="artist">Artist</span>
    <span class="icons">Links</span>
</div>

{% for item in type.songs %}

<div class="song">
    <span class="title">{{ item.name }}</span>

    <span class="artist">{{ item.artist }}</span>

    <span class="icons">
        {% if item.sheet != nil %}
        <a href="{{ item.sheet }}" target="_blank" title="Download the sheet music">
            <img class="icon" src="/assets/icons/sheet.svg"> 
        </a>
        {% endif %}
        {% if item.link != nil %}
        <a href="{{ item.link }}" target="_blank" title="View the play-through on YouTube">
            <img class="icon" src="/assets/icons/play.svg"> 
        </a>
        {% endif %}
    </span>
</div>

{% endfor %}

{% endfor %}